html {
    background-image: url("http://www.powerpointhintergrund.com/uploads/abstract-galaxy-background-4.jpeg");
}

body {


}

#logo {
    margin: 0;
    position: absolute;
}

#menu {
    position: absolute;
    display: inline-block;
    background-color: transparent;
    color: white;
    font-size: 28px;
}

#menucont {
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -1%;
}

#menucont a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#menucont a:hover {background-color: grey}

#menu:hover #menucont {
    display: block;
}

#white {
    background-color: white;
}